body {
    padding: 25px;
    text-align: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(2, 160, 252);
    font-family: 'Apple Chancery', 'Brush Script MT', sans-serif;
}